/* John _Betong TLA - Three Letter Acronyms */


.bd0 {border:  solid 0px #00f;}
.bd1 {border:  solid 1px #ddd;}
.bd2 {outline: solid 1px #ded;}

.bgc {background-color: #ccc;}
.bgs {background-color: snow;}

.clb {clear: both;}

.fgr {color: #f00;}.fgs {color: #fff;} 
.fjb { 
    font: 16px/1.42 
    BlinkMacSystemFont, "Segoe UI", Roboto, 
    Helvetica, Arial, sans-serif;
  }
.fll {float: left;} .flr {float: right;}
.ftr {position: fixed; bottom: 0; left: 0;}
.fss {font-size:small;} .fsl {font-size:large;}

.mga {margin: 0 auto;}
.p42 {padding: 0.42em;}
.tac {text-align: center;} 
.tal {text-align: left;} 
.tar {text-align: right;}
.w88 {width: 88%; max-width: 62em;} 
.w99 {width: 100%;}
.wrap{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.dl1 dt {margin-top: 1em; font-weight: 700; background-color: #eee;}
.dl1 dt:first-child {margin-top: 0em; background-color: #eee;}
.dl1 dd {padding-left: 1em; background-color: snow;}
.dl1 sup {font-weight: normal; font-size: small;  color: green;}